.create-user-btn{
    background-color: rgb(24, 24, 222);
}

ul.inline-list {
    list-style: none;
    padding: 0;
  }

  ul.inline-list li {
    display: inline;
    margin-right: 10px; /* Add some space between items */
  }