<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <app-side-nav-bar></app-side-nav-bar>
        </div>

        <div class="col-md-9">
            <div class="container">
                <h1 style="padding-top: 30px;">Courses List</h1>

                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-4">
                            <label for="batchFilter">Training Batch ID:</label>
                            <select class="form-select" id="batchFilter" [(ngModel)]="selectedBatch">
                                <option *ngFor="let batch of batches" [value]="batch.batchId">{{ batch.batchId }}</option>
                            </select>
                        </div>
                        <div class="col-md-2" style="margin-top: 20px;">
                            <button type="button" class="btn btn-default btn-circle-search search-button" (click)="getCoursesByBatchId(selectedBatch)">
                                <mat-icon>search</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="table-container">

                    <table class="table">
                        <thead>
                            <tr style="text-align: center;">
                                <th>ID</th>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Link</th>
                                <th>Duration</th>
                                <th>Est. Start Date</th>
                                <th>Est. End Date</th>
                                <th>SMEs</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let course of courses" style="text-align: center;">

                                <td>
                                    <ng-container *ngIf="!course.editing; else editCourseId">
                                        {{ course.courseId }}
                                    </ng-container>
                                    <ng-template #editCourseId>
                                        {{ course.courseId }}
                                    </ng-template>
                                </td>

                                <td>
                                    <ng-container *ngIf="!course.editing; else editCourseName">
                                        {{ course.courseName }}
                                    </ng-container>
                                    <ng-template #editCourseName>
                                        <input [(ngModel)]="course.courseName" class="form-control"/>
                                    </ng-template>
                                </td>

                                <td>
                                    <ng-container *ngIf="!course.editing; else editCourseDescription">
                                        {{ course.description }}
                                    </ng-container>
                                    <ng-template #editCourseDescription>
                                        <input [(ngModel)]="course.description" class="form-control"/>
                                    </ng-template>
                                </td>

                                <td>
                                    <ng-container *ngIf="!course.editing; else editCourseLink">
                                        <a [href]="course.link">Link</a>
                                    </ng-container>
                                    <ng-template #editCourseLink>
                                        <input [(ngModel)]="course.link" class="form-control"/>
                                    </ng-template>
                                </td>

                                <td>
                                    <ng-container *ngIf="!course.editing; else editCourseDurationInHours">
                                        {{ course.durationInHours }} hours
                                    </ng-container>
                                    <ng-template #editCourseDurationInHours>
                                        <input [(ngModel)]="course.durationInHours" class="form-control" style="width: 50px;"/>
                                    </ng-template>
                                </td>

                                <td>
                                    <ng-container *ngIf="!course.editing; else editCourseEstimatedStartDate">
                                        {{ course.estimatedStartDate | date:'dd-MM-yyyy' }}
                                    </ng-container>
                                    <ng-template #editCourseEstimatedStartDate>
                                        <input type="date" [(ngModel)]="course.estimatedStartDate" class="form-control" style="width: 100px;"/>
                                    </ng-template>
                                </td>

                                <td>
                                    <ng-container *ngIf="!course.editing; else editCourseEstimatedEndDate">
                                        {{ course.estimatedEndDate | date:'dd-MM-yyyy' }}
                                    </ng-container>
                                    <ng-template #editCourseEstimatedEndDate>
                                        <input type="date" [(ngModel)]="course.estimatedEndDate" class="form-control" style="width: 100px;"/>
                                    </ng-template>
                                </td>

                                <td>
                                    <ng-container *ngIf="!course.editing; else editCourseSubjectMatterExpert">
                                        {{ course.subjectMatterExpert }}
                                    </ng-container>
                                    <ng-template #editCourseSubjectMatterExpert>
                                        <input [(ngModel)]="course.subjectMatterExpert" class="form-control"/>
                                    </ng-template>
                                </td>

                                <td style="width: 150px;">

                                    <button type="button" class="btn btn-default btn-circle-edit edit-button"
                                        (click)="editCourse(course)">
                                        <mat-icon>edit</mat-icon>
                                    </button>

                                    <button mat-icon-button (click)="saveCourse(course)" *ngIf="course.editing"
                                        class="btn btn-default btn-circle-save save-button">
                                        <mat-icon>save</mat-icon>
                                    </button>

                                    <button mat-icon-button (click)="cancelEdit(course)" *ngIf="course.editing"
                                        class="btn btn-default btn-circle-cancel cancel-button">
                                        <mat-icon>cancel</mat-icon>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>