<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <app-side-nav-bar></app-side-nav-bar>
        </div>

        <div class="col-md-9">
            <div class="container">
                <h1 style="padding-top: 30px;">Create a course</h1>

                <form (submit)="onSubmit()">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="courseId" class="form-label">Course ID</label>
                                <input type="text" class="form-control" id="courseId" [(ngModel)]="course.courseId"
                                    name="courseId" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="batchFilter">Training Batch ID:</label>
                                <select class="form-select" id="batchFilter" [(ngModel)]="selectedBatch" name="batchId">
                                    <option *ngFor="let batch of batches" [value]="batch.batchId">{{ batch.batchId }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="courseName" class="form-label">Course Name</label>
                                <input type="text" class="form-control" id="courseName" [(ngModel)]="course.courseName"
                                    name="courseName" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="estimatedStartDate" class="form-label">Estimated Start Date</label>
                                <input type="date" class="form-control" id="estimatedStartDate"
                                    [(ngModel)]="course.estimatedStartDate" name="estimatedStartDate" required>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="description" class="form-label">Description</label>
                                <input type="text" class="form-control" id="description"
                                    [(ngModel)]="course.description" name="description" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="estimatedEndDate" class="form-label">Estimated End Date</label>
                                <input type="date" class="form-control" id="estimatedEndDate"
                                    [(ngModel)]="course.estimatedEndDate" name="estimatedEndDate" required>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="link" class="form-label">Link</label>
                                <input type="text" class="form-control" id="link" [(ngModel)]="course.link" name="link"
                                    required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="subjectMatterExpert" class="form-label">Subject Matter Experts</label>
                                <input type="text" class="form-control" id="subjectMatterExpert"
                                    [(ngModel)]="course.subjectMatterExpert" name="subjectMatterExpert" required>
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary create-course-btn">Create</button>
                </form>

                <div *ngIf="isCourseAddedByForm" class="alert alert-success mt-3">
                    Course added successfully!
                </div>

                <div *ngIf="isErrorOccurredByForm" class="alert alert-danger mt-3">
                    {{errorMessageForm}}
                </div>

            </div>

            <hr>

            <div class="container">
                <h1 style="padding-top: 30px;">Create courses by Uploading Excel file</h1>
                <p>Please upload an Excel file with the following columns:</p>
                <ul> 
                    <li>Batch ID</li>
                    <li>Course ID</li>
                    <li>Course Name</li>
                    <li>Description</li>
                    <li>Link</li>
                    <li>Duration (in hours)</li>
                    <li>Estimated Start Date (dd-MM-yyyy)</li>
                    <li>Estimated End Date (dd-MM-yyyy)</li>
                    <li>Subject Matter Experts</li>
                </ul>

                <form (ngSubmit)="onFileUpload($event)">
                    <div class="mb-3">
                        <label for="excelFile" class="form-label">Upload Excel File:</label>
                        <input type="file" class="form-control" id="excelFile" #fileInput accept=".xlsx, .xls" required>
                    </div>
                    <button type="submit" class="btn btn-primary create-course-btn">Upload</button>
                </form>

                <div *ngIf="isCourseAddedByExcel" class="alert alert-success mt-3">
                    User added successfully!
                </div>

                <div *ngIf="isErrorOccurredBySavingExcel" class="alert alert-danger mt-3">
                    {{errorMessage}}
                </div>
            </div>
            

        </div>
    </div>
</div>