.table-container {
    max-height: 500px;
    overflow: auto;
    position: relative;
    margin-top: 30px;
}

.table thead {
    position: sticky;
    top: 0;
    z-index: 1;
}

.table thead th {
    text-align: center;
    background-color: rgb(24, 24, 222);
    color: white;
    font-size: 15px;
    padding: 10px;
    border: 1px solid rgb(255, 255, 255);
}

.search-button mat-icon {
    font-size: 17px; 
    color: white;
}

.btn-circle-search{
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
    background-color: rgb(24, 24, 222);
}

.update-progress-btn{
    background-color: rgb(24, 24, 222);
}

.edit-button mat-icon {
    font-size: 17px;
    color: white;
}

.save-button mat-icon {
    font-size: 17px;
    color: white;
}

.cancel-button mat-icon {
    font-size: 17px;
    color: white;
}

.btn-circle-edit {
    margin-left: 10px;
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
    background-color: rgb(216, 192, 8);
}

.btn-circle-save {
    margin-left: 10px;
    margin-right: 10px;
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
    background-color: rgb(21, 158, 0);
}

.btn-circle-cancel {
    margin-right: 10px;
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
    background-color: rgb(0, 0, 0);
}