#trainease-heading{
    font-size: 30px;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    padding-left: 25px;
    padding-bottom: 15px;
}
#sidebar {
    background-color: #0097d6;
    height: 100%;
    width: 300px; 
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 20px;
}

#sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: #333; 
    display: block;
}

#sidebar a:hover {
    background-color: #0097d6; 
    color: white;
    font-weight: bolder
}


.content {
    margin-left: 320px; 
    padding: 20px;
}

.logout-button{
    background-color: white;
    color: #0097d6;
    width: 100px;
    margin-left: 100px;
    text-align: center;
    border-radius: 10px;
}
.logout-button:hover{
    background-color: white;
    color: #0097d6;
    font-weight: bolder;
}