<div class="accordion" id="sidebar">
    <h2 id="trainease-heading">IdeaS TrainEase</h2>
    
    <!-- User Management -->
    <div class="accordion-item">
        <h2 class="accordion-header" id="userManagement">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#userCollapse" aria-expanded="false" aria-controls="userCollapse">
                User Management
            </button>
        </h2>
        <div id="userCollapse" class="accordion-collapse collapse" aria-labelledby="userManagement" data-bs-parent="#sidebar">
            <div class="accordion-body">
                <ul class="list-unstyled">
                    <li><a href="#" routerLink="/user-list">Get All Users</a></li>
                    <li><a href="#">Add User</a></li>
                    <li><a href="#">Delete User</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Training Batch Management -->
    <div class="accordion-item">
        <h2 class="accordion-header" id="batchManagement">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#batchCollapse" aria-expanded="false" aria-controls="batchCollapse">
                Training Batch Management
            </button>
        </h2>
        <div id="batchCollapse" class="accordion-collapse collapse" aria-labelledby="batchManagement" data-bs-parent="#sidebar">
            <div class="accordion-body">
                <ul class="list-unstyled">
                    <li><a href="#">Create a Batch</a></li>
                    <li><a href="#">Get All Batches</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
