.search-button mat-icon {
    font-size: 17px;
    color: white;
}

.btn-circle-search {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
    background-color: #0097d6;
}

button.export-button {
    margin-top: 20px;
    background-color: #09ab34;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 8px 15px;
    font-size: 14px;
    cursor: pointer;
}